<!-- En tracker.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rastreador de PC</title>
    <link rel="icon" type="image/x-icon" href="/img/icon.png">
    <%- include("partials/head") %>

    <style>
        h1 {
            color: #ffffff;
            text-align: center;
            width: 100%;
            margin-top: 7%;
        }

        .container {
            display: flex;
            flex-direction: row;
            width: 80%;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .location-info {
            width: 100%;
            margin-bottom: 20px;
        }

        .location-image {
            text-align: center;
        }

        img {
            max-width: 100%;
            height: auto;
            float: right;
        }

        p {
            margin-bottom: 8px;
            font-size: 16px;
        }

        .location-data {
            font-weight: bold;
            color: #3498db;
        }

        .no-location {
            color: #888;
            text-align: center;
        }

        /* Media Query para dispositivos con pantalla de hasta 600px (smartphones) */
        @media (max-width: 600px) {
            .container {
                width: 100%;
            }
        }

        .centered-btn {
            display: flex;
            flex-direction: column;
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 2%;
        }
        

    </style>
</head>
<body>
    <%- include("partials/navigation", { title: "MYPCTRACKER" }) %>
    
    <h1>Rastreo de PC - Última Ubicación</h1>
    <div class="container">
        <div class="location-info">
            <% if (lastLocation) { %>
                <p><span class="location-data">Dispositivo:</span> <%= lastLocation.deviceId %></p>
                <p><span class="location-data">Título:</span> <%= lastLocation.title %></p>
                <p><span class="location-data">Mensaje:</span> <%= lastLocation.message %></p>
                <p><span class="location-data">Ubicación Aproximada:</span></p>
                <p><span class="location-data">IP:</span> <%= lastLocation.IP || 'N/A' %></p>
                <p><span class="location-data">Ciudad:</span> <%= lastLocation.Ciudad || 'N/A' %></p>
                <p><span class="location-data">Región:</span> <%= lastLocation.Region || 'N/A' %></p>
                <p><span class="location-data">País:</span> <%= lastLocation.Pais || 'N/A' %></p>
                <p><span class="location-data">Latitud:</span> <%= lastLocation.Latitud || 'N/A' %></p>
                <p><span class="location-data">Longitud:</span> <%= lastLocation.Longitud || 'N/A' %></p>
            <% } else { %>
                <p class="no-location">No se ha recibido ninguna ubicación.</p>
            <% } %>
        </div>
        <div class="location-image">
            <img src="img/maps.png" alt="Location Image">
        </div>
    </div>
    <br>
    <a href="/borrar-ubicacion" class="btn btn-primary w-25 centered-btn">Borrar</a>
    <a onclick="Refrescar()" class="btn btn-primary w-25 centered-btn">Ver</a>

    <script>
        function Refrescar() {
            location.reload();
        }
    </script>
    <br>

    <%- include("partials/footer") %>
</body>

</html>
