<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tracker</title>
    <link rel="icon" type="image/x-icon" href="/img/icon.png">
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDrAabDt2aSsFpS8ezt1sMXcnx2JNhQP18&callback=inicializarMapa"></script>
    <style>
        #map {
            height: 500px;
            width: 100%;
        }
    </style>
    <%- include("partials/head") %>
</head>
<body>

    <!-- HEADER -->
    <%- include("partials/navigation", { title: "TRACKER" }) %>

    <h1>Ubicación del Dispositivo</h1>

    <div class="container">
        <div class="location-info">
    <% if (lastLocation) { %>
        <p><strong>IP:</strong> <%= lastLocation.ip %></p>
        <p><strong>Ciudad:</strong> <%= lastLocation.ciudad %></p>
        <p><strong>Región:</strong> <%= lastLocation.region %></p>
        <p><strong>País:</strong> <%= lastLocation.pais %></p>
        <p><strong>Latitud:</strong> <%= lastLocation.Latitud %></p>
        <p><strong>Longitud:</strong> <%= lastLocation.Longitud %></p>
        </div>
    </div>
        <div id="map"></div>
        <script>
            function initMap() {
                var location = { lat: <%= lastLocation.Latitud %>, lng: <%= lastLocation.Longitud %> };
                var map = new google.maps.Map(document.getElementById('map'), {
                    zoom: 15,
                    center: location
                });
                var marker = new google.maps.Marker({
                    position: location,
                    map: map
                });
            }

            window.onload = initMap;
        </script>
    <% } else { %>
        <p>No hay datos de ubicación disponibles.</p>
    <% } %>
    <form>
        <a href="/downloads" class="btn btn-primary w-25">Haz clic aquí para descargar el ejecutable</a>
    </form>
    <%- include("partials/footer") %>
</body>
</html>
