<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tracker</title>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDrAabDt2aSsFpS8ezt1sMXcnx2JNhQP18&callback=inicializarMapa"></script>
    <style>
        #map {
            height: 500px;
            width: 100%;
        }
    </style>
    <%- include("partials/head") %>
</head>
<body>

    <!-- HEADER -->
    <%- include("partials/navigation", { title: "TRACKER" }) %>

    <h1>Ubicación del Dispositivo</h1>

    <div class="container">
        <div class="location-info">
    <% if (lastLocation) { %>
        <p>Dispositivo: <%= lastLocation.deviceId %></p>
        <p>IP: <%= lastLocation.IP %></p>
        <p>Ciudad: <%= lastLocation.Ciudad %></p>
        <p>Región: <%= lastLocation.Region %></p>
        <p>País: <%= lastLocation.Pais %></p>
        <p>Latitud: <%= lastLocation.Latitud %></p>
        <p>Longitud: <%= lastLocation.Longitud %></p>
        </div>
    </div>
        <div id="map"></div>
        <script>
            function initMap() {
                var location = { lat: <%= lastLocation.Latitud %>, lng: <%= lastLocation.Longitud %> };
                var map = new google.maps.Map(document.getElementById('map'), {
                    zoom: 15,
                    center: location
                });
                var marker = new google.maps.Marker({
                    position: location,
                    map: map
                });
            }

            window.onload = initMap;
        </script>
    <% } else { %>
        <p>No hay datos de ubicación disponibles.</p>
    <% } %>

    <form action="/borrar-ubicacion" method="get">
        <button type="submit">Borrar</button>
    </form>
    <%- include("partials/footer") %>
</body>
</html>
